*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ney {
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}
.navbar{
    position: fixed;
    transition: 0.5s,ease-in-out;
    background: #00260987;
    height: 100px;
}
.nav-link{
    color: black;
    
}

.dropdown-menu a{
    background: black;
    color: white;
}
.dropdown-menu a:hover{
    color: green;
    background: black;
}
.navbar .navbar-brand{
    font-size: 35px;
    position: relative;
    padding-left:60px;
    
 }
 .nav-item:hover{
    color: green;
 }
.collapse{
    font-size: 20px;
    padding-left: 30px;
}
.navbar-nav{
    margin-left: 200px;
}
.nav-item {
    color: #94a4a4;
    gap: 50px;
    font-size: 16px;
    font-weight: 660;
}
.sec1{
    height: 100vh;
}
.contact-bar{
    display: flex;
    width: 500px;
    gap: 26px;
    list-style: none;
    font-size: 28px;
    /* padding-top: 20px; */
}

li a{
    text-decoration: none;
    color: black;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.all{
    padding: 20px 50px;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
}
.icon i{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: green;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
.icon{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.first .icon{
    padding-bottom: 20px;
}
.second{
    gap: 50px;
}
.btnn{
    background-color: #1b450a;
    width: 100px;
    border-radius: 8px;
    margin-top: 30px;

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
}
.p{
    font-size: 20px;
    font-weight: 300;
    gap: 20px;
}
footer {
    width: 98.8vw;
    margin-top: 100px;
    background-color: gainsboro;
    text-align: center;
    align-items: center;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    line-height:15px;
}

.logo img {
    width: 250px;
}
.social{
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.iconss-box{
    border: none ;
    width: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.iconsss-box{
    border: none ;

    width: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn9:hover{
    background: green;
    color: white;
}
.hours h4{
    font-size: 28px;
    color: green;
    padding-bottom: 7px;
}
.address h4{
    padding-bottom: 7px;
    font-size: 28px;
    color: green;
}
.contact h4{
    padding-bottom: 7px;
    font-size: 28px;
    color: green;
}
.hours p{
    font-size: 18px;
    color: black;
}
.address p{
    font-size: 18px;
    color: black;
}
.contact p{
    font-size: 18px;
    color: black;
}
.hours{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact, .address, .hours, .social {
    text-align: left;
    margin-right: 30px;
    
}

.social  {
    margin: 10px;
    color: #333;
}

.iconss-box :hover {
    color: #007bff;
}
.iconsss-box :hover{
    color: red;
}